# Ignore binaries.
/bin

# Ignore non-custom parts of Drupal.
/docroot/core
/docroot/libraries
/docroot/modules/contrib
/docroot/profiles/contrib
/docroot/themes/contrib
/docroot/sites/default/files

# Ignore sensitive information.
/docroot/sites/*/settings.php
/docroot/sites/*/settings.local*
/docroot/sites/default/development.services.yml
/docroot/sites/default/services.yml

# Ignore Composer-managed dependencies.
vendor/

node_modules

# Ignore css sourcemaps
docroot/themes/custom/crosscut_festival/css/maps

# Ignore IDE files.
.idea
/docroot/sites/*.dd

# Ignore macOS system files.
.DS_Store
