// Owl Carousel
.owl-nav {
  position: absolute;
  height: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  .nav-arrow {
    background: transparent !important;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    display: block;
    width: 0;
    height: 0;
    color: transparent;
  }

  .owl-prev {
    position: absolute;
    left: -.8em;

    .nav-arrow {
      background: transparent;
      border-right: 10px solid $gray-600;
    }

    &.active,
    &:hover,
    &:focus {
      background: transparent !important;

      .nav-arrow {
        background: transparent !important;
        border-right: 10px solid $gray-600;
      }
    }
  }

  .owl-next {
    position: absolute;
    right: -.8em;

    .nav-arrow {
      background: transparent;
      border-left: 10px solid $gray-600;
    }

    &.active,
    &:hover,
    &:focus {
      background: transparent !important;

      .nav-arrow {
        background: transparent !important;
        border-left: 10px solid $gray-600;
      }
    }
  }

  @include media-breakpoint-up(md) {
    .owl-prev {
      left: -2em;
    }
    .owl-next {
      right: -2em;
    }
  }
}

/** Featured Panelist Organizations Carousel **/
.featured-org-carousel {
  position: relative;
  background-color: $gray-light;
  height: 120px;
  text-align: center;

  .owl-carousel {
    height: 80px;
    padding-left: 0;
    padding-right: 0;

    .owl-stage {
      display: flex;
      align-items: center;
    }
  }

  .feature-text {
    font-size: .9em;
    color: $blue-dark;
    font-weight: $font-weight-bold;
    text-transform: uppercase;
    display: inline-block;
    margin: 14px auto 10px;
  }

  .featured-panelist-organization {
    margin-left: auto;
    margin-right: auto;
    max-width: 260px;
  }

  .org {
    img {
      max-height: 60px;
      height: auto;
      width: auto;
      object-fit: contain;
      margin: 0 auto;
    }
  }
}

/** Session Carousel **/
#session-carousel {
  .owl-nav {
    width: 200px;
    margin: 0 auto;
    height: auto;
    top: auto;
    bottom: -30px;

    .nav-arrow {
      background: transparent !important;
      border-top: 16px solid transparent;
      border-bottom: 16px solid transparent;
    }

    .owl-prev {
      .nav-arrow {
        border-right: 16px solid $gray-600;
      }

      &.active,
      &:hover,
      &:focus {
        .nav-arrow {
          border-right: 16px solid $gray-600;
        }
      }
    }

    .owl-next {
      .nav-arrow {
        border-left: 16px solid $gray-600;
      }

      &.active,
      &:hover,
      &:focus {
        .nav-arrow {
          border-left: 16px solid $gray-600;
        }
      }
    }
  }

  .owl-dots {
    position: absolute;
    bottom: -70px;
    left: 50%;
    transform: translateX(-50%);
  }

  .owl-stage {
    display: flex;
    flex-flow: row nowrap;
    align-items: stretch;
  }
}

.session {
  height: 100%;
  padding: 1em;
  border: 4px solid $orange;
  margin: 0 auto;
  max-width: 270px;

  > .row {
    height: 100%;
  }

  &__image {
    height: 100%;
    width: 100%;
    margin-bottom: 10px;
  }

  &__info {
    position: relative;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }

  &__info__top {
    position: relative;
    margin-top: 1em;
    margin-bottom: 1em;
    width: 100%;
    max-width: 100%;

    .vertical-line {
      display: inline-block;
      border-left: 2px solid $orange;
      padding-left: 10px;
      margin-bottom: 1em;

      .top-details {
        display: block;
        line-height: 1.3;
        text-transform: uppercase;
        font-size: 1em;
        margin-bottom: .2em;
      }
    }

    .title-prefix {
      font-size: .95em;
      color: $gray-medium;
    }

    h4 {
      font-size: 1.4em;
      line-height: 1.3;
    }
  }

  .field--speaker {
    font-size: 1.1em;

    .list-group-item {
      padding: 0;
      border: none;
    }
  }

  .field--bio {
    font-size: .9em;
  }

  &__link {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-end;

    a {
      display: inline-block;
      margin-bottom: 1em;
      font-weight: $font-weight-bold;
      @extend .btn;
      @extend .btn-primary;
    }
  }

  .owl-item & {
    opacity: .25;
  }

  .owl-item.center & {
    opacity: 1;
  }

  @include media-breakpoint-up(sm) {
    max-width: 490px;

    &__info {
      padding-left: 0;
    }

    &__info__top {
      margin-top: 0;
    }
  }

  @include media-breakpoint-only(sm) {
    &__info__top .top-details {
      font-size: .8em;
    }
  }

  @include media-breakpoint-up(md) {
    min-height: 330px;
    max-width: 540px;
    padding: 1em;

    &__image {
      margin-bottom: 0;
    }

    &__info__top {
      .vertical-line {
        margin-left: 5px;
      }

      h4 {
        font-size: 1.6em;
      }
    }
  }

  @include media-breakpoint-up(lg) {
    max-width: 600px;
  }
}

/** Festival Archive Image Carousel **/
#carousel-image-carousel,
.carousel-control--container {
  max-width: 860px;
  margin: 0 auto;
}

.image-carousel {
  position: relative;
  margin-top: 2rem;
  margin-bottom: 2rem;

  .carousel-image-item {
    margin-left: auto;
    margin-right: auto;

    &--inner {
      width: 100%;

      img {
        max-height: 100%;
        height: auto;
        max-width: 100%;
        object-fit: contain;
        margin: 0 auto;
      }
    }
  }

  .owl-nav {
    position: static;

    .owl-prev,
    .owl-next {
      top: 50%;
    }
  }

  .owl-dots {
    margin-top: 1rem;
  }
}

.carousel-control {
  margin: 0 1rem 0 auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
}

.carousel-control--button {
  border: 0;
  background: transparent;
  width: 0;
  height: 20px;
  display: inline-block;
  cursor: pointer;
  margin-left: 1rem;
  transition: 100ms all ease;

  &.paused {
    border-width: 10px 0 10px 20px;
    border-color: transparent transparent transparent $blue;
    border-style: solid;
  }

  &.playing {
    border-style: double;
    border-width: 0 0 0 20px;
  }

  &:hover,
  &:focus {
    border-color: transparent transparent transparent $blue-dark;
  }
}
