// Owl Carousel
/** Featured Panelist Organizations Carousel **/
.panelists-carousel {
  @include make-container-max-widths();

  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;

  .owl-nav {
    @include owl-arrows($gray-medium);
  }
}

.featured-org-carousel {
  position: relative;
  background-color: $gray-light;
  text-align: center;

  .owl-carousel {
    .owl-stage {
      display: flex;
      align-items: center;
    }
  }

  .feature-text {
    font-size: .9em;
    color: $blue-dark;
    font-weight: $font-weight-bold;
    text-transform: uppercase;
    display: inline-block;
    margin: 2rem auto 10px;
  }

  .featured-panelist-organization {
    min-height: 150px;
  }

  .org {
    min-height: 150px;
    display: flex;
    align-items: center;

    img {
      max-height: 60px;
      max-width: 120px;
      height: auto;
      width: auto;
      object-fit: contain;
      margin: 0 auto;

      @include media-breakpoint-up(sm) {
        max-width: 200px;
      }
    }
  }
}

/** Session Carousel **/
.session-carousel {
  &__container {
    padding: 2rem 0 150px;
  }

  .owl-nav {
    @include owl-arrows($black, 12px);
  }

  .owl-stage {
    display: flex;
    flex-flow: row nowrap;
    align-items: stretch;
  }

  .views-row {
    height: 100%;
  }

  .owl-nav {
    margin: 0;

    @include media-breakpoint-up(sm) {
      button.owl-next {
        right: 110px;
      }

      button.owl-prev {
        left: 110px;
      }
    }

    @include media-breakpoint-up(lg) {
      button.owl-next {
        right: 60px;
      }

      button.owl-prev {
        left: 60px;
      }
    }
  }
}

.session {
  height: 100%;
  padding: 1.5rem;
  border: 2px solid $blue-light;
  margin: 0 auto;

  &__section,
  &__title {
    margin-top: .5rem;
  }

  &__track-label,
  &__details {
    font-size: 0.9rem;
    text-transform: uppercase;
    display: inline-block;
  }

  &__track-label {
    padding-left: 1.5rem;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      width: 1rem;
      height: 1rem;
      background-color: red;
      border-radius: 100%;
      top: 0;
    }

    &--technology--economy::before {
      background-color: $color-technology-economy;
    }

    &--keynote::before {
      background-color: $color-keynote;
    }

    &--business::before {
      background-color: $color-business;
    }

    &--politics::before {
      background-color: $color-politics;
    }

    &--race--social-justice::before {
      background-color: $color-race-justice;
    }

    &--science--environment::before {
      background-color: $color-science;
    }

    &--interactive--social::before {
      background-color: $color-interactive;
    }
  }

  &__link {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-end;

    a {
      display: inline-block;
      margin-bottom: 1em;
      font-weight: $font-weight-bold;
      @extend .btn;
      @extend .btn-primary;
    }
  }

  .owl-item & {
    opacity: .25;
  }

  .owl-item.center & {
    opacity: 1;
  }
}

/** Festival Archive Image Carousel **/
.image-carousel {
  position: relative;
  margin-top: 2.5rem;

  .owl-nav {
    position: static;

    @include owl-arrows($gray-medium);
    @include media-breakpoint-up(sm) {
      button.owl-next {
        right: 110px;
      }

      button.owl-prev {
        left: 110px;
      }
    }

    @include media-breakpoint-up(md) {
      button.owl-next {
        right: 120px;
      }

      button.owl-prev {
        left: 120px;
      }
    }

    @include media-breakpoint-up(lg) {
      button.owl-next {
        right: 210px;
      }

      button.owl-prev {
        left: 210px;
      }
    }

    @media (min-width: 1385px) {
      button.owl-next {
        right: calc((50% - 870px / 2) - 42px);
      }

      button.owl-prev {
        left: calc((50% - 870px / 2) - 42px)
      }
    }
  }
}

.carousel-image-item {
  margin-left: auto;
  margin-right: auto;

  @include media-breakpoint-up(lg) {
    max-width: 870px;
  }

  &--inner {
    img {
      max-height: 100%;
      height: auto;
      max-width: 100%;
      object-fit: contain;
      margin: 0 auto;
    }
  }

  &__caption {
    font-size: .9rem;
    display: inline-block;
    padding-top: 0.5rem;
  }

  .owl-item & {
    opacity: .25;
  }

  .owl-item.center & {
    opacity: 1;
  }
}

.carousel-control {
  margin: 0 1rem 0 auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;

  &--button {
    border: 0;
    background: transparent;
    width: 0;
    height: 20px;
    display: inline-block;
    cursor: pointer;
    margin-left: 1rem;
    transition: 100ms all ease;

    &.paused {
      border-width: 10px 0 10px 20px;
      border-color: transparent transparent transparent $blue;
      border-style: solid;
    }

    &.playing {
      border-style: double;
      border-width: 0 0 0 20px;
    }

    &:hover,
    &:focus {
      border-color: transparent transparent transparent $blue-dark;
    }
  }
}
