// Owl Carousel
/** Featured Panelist Organizations Carousel **/
.featured-org-carousel {
  position: relative;
  background-color: $gray-light;
  height: 120px;
  text-align: center;

  .owl-carousel {
    height: 80px;
    padding-left: 0;
    padding-right: 0;

    .owl-stage {
      display: flex;
      align-items: center;
    }
  }

  .feature-text {
    font-size: .9em;
    color: $blue-dark;
    font-weight: $font-weight-bold;
    text-transform: uppercase;
    display: inline-block;
    margin: 14px auto 10px;
  }

  .featured-panelist-organization {
    margin-left: auto;
    margin-right: auto;
    max-width: 260px;
  }

  .org {
    img {
      max-height: 60px;
      height: auto;
      width: auto;
      object-fit: contain;
      margin: 0 auto;
    }
  }
}

/** Session Carousel **/
.session-carousel {
  &__container {
    padding: 2rem 0 150px;
  }

  .owl-nav {
    @include owl-arrows($black, 12px);
  }

  .owl-stage {
    display: flex;
    flex-flow: row nowrap;
    align-items: stretch;
  }

  .views-row {
    height: 100%;
  }

  .owl-nav {
    margin: 0;

    @include media-breakpoint-up(sm) {
      button.owl-next {
        right: 110px;
      }

      button.owl-prev {
        left: 110px;
      }
    }

    @include media-breakpoint-up(lg) {
      button.owl-next {
        right: 60px;
      }

      button.owl-prev {
        left: 60px;
      }
    }
  }
}

.session {
  height: 100%;
  padding: 1.5rem;
  border: 2px solid $blue-light;
  margin: 0 auto;

  &__section,
  &__title {
    margin-top: .5rem;
  }

  &__track-label,
  &__details {
    font-size: 0.9rem;
    text-transform: uppercase;
    display: inline-block;
  }

  &__track-label {
    padding-left: 1.5rem;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      width: 1rem;
      height: 1rem;
      background-color: red;
      border-radius: 100%;
      top: 0;
    }

    &--technology--economy::before {
      background-color: $color-technology-economy;
    }

    &--keynote::before {
      background-color: $color-keynote;
    }

    &--business::before {
      background-color: $color-business;
    }

    &--politics::before {
      background-color: $color-politics;
    }

    &--race--social-justice::before {
      background-color: $color-race-justice;
    }

    &--science--environment::before {
      background-color: $color-science;
    }

    &--interactive--social::before {
      background-color: $color-interactive;
    }
  }

  &__link {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-end;

    a {
      display: inline-block;
      margin-bottom: 1em;
      font-weight: $font-weight-bold;
      @extend .btn;
      @extend .btn-primary;
    }
  }

  .owl-item & {
    opacity: .25;
  }

  .owl-item.active & {
    opacity: 1;
  }

  @include media-breakpoint-up(sm) {
    max-width: 490px;

    &__info {
      padding-left: 0;
    }

    &__info__top {
      margin-top: 0;
    }
  }

  @include media-breakpoint-only(sm) {
    &__info__top .top-details {
      font-size: .8em;
    }
  }

  @include media-breakpoint-up(md) {
    min-height: 330px;
    max-width: 540px;
    padding: 1em;

    &__image {
      margin-bottom: 0;
    }

    &__info__top {
      .vertical-line {
        margin-left: 5px;
      }

      h4 {
        font-size: 1.6em;
      }
    }
  }

  @include media-breakpoint-up(lg) {
    max-width: 600px;
  }
}

/** Festival Archive Image Carousel **/
#carousel-image-carousel,
.carousel-control--container {
  max-width: 860px;
  margin: 0 auto;
}

.image-carousel {
  position: relative;
  margin-top: 2rem;
  margin-bottom: 2rem;

  .carousel-image-item {
    margin-left: auto;
    margin-right: auto;

    &--inner {
      width: 100%;

      img {
        max-height: 100%;
        height: auto;
        max-width: 100%;
        object-fit: contain;
        margin: 0 auto;
      }
    }
  }

  .owl-nav {
    position: static;

    .owl-prev,
    .owl-next {
      top: 50%;
    }
  }

  .owl-dots {
    margin-top: 1rem;
  }
}

.carousel-control {
  margin: 0 1rem 0 auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
}

.carousel-control--button {
  border: 0;
  background: transparent;
  width: 0;
  height: 20px;
  display: inline-block;
  cursor: pointer;
  margin-left: 1rem;
  transition: 100ms all ease;

  &.paused {
    border-width: 10px 0 10px 20px;
    border-color: transparent transparent transparent $blue;
    border-style: solid;
  }

  &.playing {
    border-style: double;
    border-width: 0 0 0 20px;
  }

  &:hover,
  &:focus {
    border-color: transparent transparent transparent $blue-dark;
  }
}
