/** Footer **/
footer {
  background-color: $gray-dark;
  margin-top: 60px;

  .footer-content-main {
    height: 110px;
  }
}

.site-info {
  text-align: center;
  margin: 1em auto 0;

  &__logo {
    max-width: 200px;
    margin: 0 auto;
    padding: .6em 0;
  }

  &__text {
    color: $white;
    margin-bottom: 0;
    white-space: nowrap;

    a {
      color: inherit;
      text-decoration: underline;
    }
  }

  &__sub {
    color: $gray-medium-text;
    font-size: .8em;
    line-height: 1.3;
    width: 100%;
  }

}

@include media-breakpoint-up(md) {
  .site-info {
    @include make-col-ready();
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;

    &__logo {
      margin: 0 3%;
    }

    &__sub {
      margin: 0 auto 20px;
    }
  }
}
