.node--type-speaker {
  .field--name-field-speaker-title {
    font-style: italic;
  }

  .field--name-field-photo {
    max-width: 180px;
    max-height: 180px;
    margin: 0 auto;
    border-radius: 100%;
    overflow: hidden;
  }

  .field--name-body {
    p {
      margin-bottom: 0;
    }
  }
}

.speaker {
  &__featured-view-container:not(:last-child) {
    .node--type-speaker {
      margin-bottom: 2rem;
    }
  }

  &__page-title {
    margin-top: 0;
    margin-bottom: 0;

    span {
      font-weight: bold;
    }
  }

  &__header {
    margin-top: 50px;
    text-align: center;
  }

  &__name {
    margin-bottom: 0;
  }

  &__content {
    padding: 2.5rem 0;
    border-bottom: 1px solid $border-color;

    @include media-breakpoint-up(md) {
      padding-bottom: 5rem;
    }

    .field--name-field-photo {
      max-width: 280px;
      max-height: 280px;
    }

    .field--name-body {
      max-width: 430px;
      margin: 2.5rem auto;
    }
  }

  &__footer {
    padding: 75px 0 0;

    @include media-breakpoint-up(md) {
      padding: 130px 0 0;
    }
  }
}
