// variables

$blue: #213342;
$blue-dark: #172C3B;
$yellow: #F2BF42;
$yellow-darker: #E5B02E;
$orange: #F27A4A;
$teal: #61C2D7;
$teal-medium: #60c9d6;
$teal-darker: #54B9CE;
$gray-light: #EBEBEB;
$gray-medium-light: #d8d8d8;
$gray-medium-text: #636363;
$gray-medium: #979797;
$gray-dark: #4A4A4A;
$blue-medium: #185878;
$blue-bright: #2989C9;
$blue-light: #456C87;
$green: #C3D93A;
$purple: #A95CEC;

$light: #F9FEFF;
$light-blue: #c7f5ff;
$table-bg: #E9F6FD;
$highlight-bg-blue: rgba($teal, .2);
$highlight-bg-yellow: #FFEAB8;
$text-gray-dark: #212121;

$color-keynote: $orange;
$color-business: $yellow;
$color-technology-economy: $yellow;
$color-politics: $blue-bright;
$color-race-justice: $teal;
$color-science: $green;
$color-interactive: $purple;

$primary: $teal;
$secondary: $yellow;

$theme-colors: (
        primary: $teal,
        secondary: $yellow,
        success: $green,
        info: $blue-medium,
        warning: $purple,
        danger: $orange,
        light: $gray-light,
        dark: $gray-dark
);

$font-family-sans-serif: 'Proxima Nova', sans-serif;
$font-family-serif: 'Lora', serif;

$border-color: $gray-medium;
$link-color: #2D68AE;
$link-color-lighter: #66AEEA;

$box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .3);

$header-height-lg: 78px;
$header-height-sm: 54px;
$hero-height: 82vh;
$footer-height: 178px;

// Bootstrap overrides.
$enable-rounded: false;
$btn-font-weight: $font-weight-bold;
$btn-padding-x: 2em;
