/* Extra - reusable components */
.lightbox--thank-you {
  background-color: $primary;
  max-width: 450px;
  text-align: center;
  padding: 2em;

  h1, h2, h3, h4, p {
    color: $blue;
  }

  p {
    margin-bottom: 0;
    margin-top: 1em;
  }
}


/** Subscribe Form **/
.block-crosscut-email-subscribe {
  @include make-container();
  @include make-container-max-widths();
  padding: 0;

  .content {
    padding: 30px;
  }

  .ces-quick-subscribe-form {
    padding: 1em;
    background-image: url('../images/DiamondHalftone.png');
    background-position: center;
    background-size: cover;
    background-color: $blue-dark;
  }

  .quick-subscribe-form-prefix {
    padding: 1em 1em 0;
  }

  #crosscut-email-subscribe-quick-subscribe-form {
    padding: 0;
    display: flex;
    flex-flow: column wrap;

    .form-item-email-address {
      flex: 1;
      padding-left: 15px;
      padding-right: 15px;

      .form-control {
        width: 100%;
        margin-top: 0;
      }
    }

    .form-actions {
      padding-left: 15px;
      padding-right: 15px;
    }
  }

  p {
    color: $white;
    font-weight: 600;
  }

  h2 {
    color: $white;
    text-transform: uppercase;
    font-weight: normal;
  }

  @include media-breakpoint-up(sm) {
    .content {
      padding: 30px 0;
    }

    #crosscut-email-subscribe-quick-subscribe-form {
      flex-flow: row wrap;
      align-items: center;
      justify-content: space-between;
    }

    p {
      font-size: 22px;
      line-height: 26px;
    }
  }

  @include media-breakpoint-up(lg) {
    max-width: 870px;
    margin: 0 auto;
  }
}