/* Extra - reusable components */
.lightbox--thank-you {
  background-color: $primary;
  max-width: 450px;
  text-align: center;
  padding: 2em;

  h1, h2, h3, h4, p {
    color: $blue;
  }

  p {
    margin-bottom: 0;
    margin-top: 1em;
  }
}


/** Subscribe Form **/
.block-crosscut-email-subscribe {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('../images/SectionBkg_StayConnected.jpg');

  @include background-image;

  padding: 75px 0;

  @include media-breakpoint-up(md) {
    padding: 150px 0;
  }

  .content {
    padding-left: 30px;
    padding-right: 30px;

    @include media-breakpoint-up(sm) {
      @include make-container();
      @include make-container-max-widths();
      padding-left: 0;
      padding-right: 0;
    }

    @include media-breakpoint-up(lg) {
      max-width: 870px;
      margin: 0 auto;
    }
  }

  #crosscut-email-subscribe-quick-subscribe-form {
    padding: 0;
    display: flex;
    flex-flow: column wrap;

    .form-group {
      margin-bottom: 0;
    }

    .form-item-email-address {
      flex: 1;

      .form-control {
        width: 100%;
        margin-top: 0;
      }
    }
  }

  @include media-breakpoint-up(sm) {
    #crosscut-email-subscribe-quick-subscribe-form {
      flex-flow: row wrap;
      align-items: center;
      justify-content: space-between;

      .form-item-email-address {
        padding-right: 1em;
      }
    }
  }
}