/** Layout **/
.page {
  position: relative;

  &--front-page {
    padding-bottom: $footer-height;
    overflow-x: hidden;
  }

  &:not(.page--front-page) {
    padding-bottom: calc(#{$footer-height} + 100px);
  }
}

#main-wrapper {
  max-width: 100%;
  margin-left: 0;
  margin-right: 0;
}

.main-content {
  padding-left: 0;
  padding-right: 0;
}

.container {
  padding-left: 30px;
  padding-right: 30px;
}

.full-bleed {
  padding-left: 0;
  padding-right: 0;
}

@include media-breakpoint-up(sm){
  .container {
    padding-left: 0;
    padding-right: 0;
  }
}

@include media-breakpoint-up(lg) {
  .container.section,
  .container.container--tight {
    max-width: 870px;
  }
}

.path-frontpage {
  .layout-main-wrapper {
    padding-top: $header-height-sm;

    @include media-breakpoint-up(sm) {
      padding-top: $header-height-lg;
    }

    @include header-height-landscape {
      padding-top: $header-height-sm;
    }
  }
}
