/* MIXINS */

//
// Alternate buttons
//
@each $color,
$value in $theme-colors {
    .btn-#{$color} a {
        @include button-variant($value, $value);
    }
}

@each $color,
$value in $theme-colors {
    .btn-outline-#{$color} a {
        @include button-outline-variant($value);
    }
}

@mixin background-image($text-color: $white, $parallax: true) {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    @if $parallax {
        background-attachment: fixed;
    }

    p,
    h5,
    h4,
    h3,
    h2,
    li {
        color: $text-color;
    }
}
