/* MIXINS */

//
// Alternate buttons
//
@each $color,
$value in $theme-colors {
    .btn-#{$color} a {
        @include button-variant($value, $value);
    }
}

@each $color,
$value in $theme-colors {
    .btn-outline-#{$color} a {
        @include button-outline-variant($value);
    }
}

@mixin background-image($text-color: $white, $parallax: true) {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    @if $parallax {
        background-attachment: fixed;
    }

    p,
    .section-header,
    h2,
    h3,
    h4,
    h5,
    li {
        color: $text-color;
    }

    h2 > a,
    h3 > a,
    h4 > a,
    h5 > a {
        color: inherit;
    }

    p > a:not(.btn) {
        color: $link-color-lighter;
    }
}

@mixin front-page-section-variant($bg-color, $bg-color-dark: false) {
    background-color: $bg-color;

    @if $bg-color-dark {
        color: $white;

        p,
        h2,
        h3,
        h4,
        li,
        .section-header {
            color: $white;
        }

        p > a:not(.btn) {
            color: $link-color-lighter;
        }

        h2 > a,
        h4 > a,
        h5 > a {
            color: inherit;
        }

    } @else {
        .section-header {
            color: $blue-dark;
        }
    }
}

